@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var asideBackgroundImage = Model?.Value<IPublishedContent>("asideContactBackgroundImage")?.Url() ?? "";
    var articleOneImage = Model?.Value<IPublishedContent>("articleOneImage")?.Url() ?? "";
    var articleTwoImage = Model?.Value<IPublishedContent>("articleTwoImage")?.Url() ?? "";
    var articleThreeImage = Model?.Value<IPublishedContent>("articleThreeImage")?.Url() ?? "";
    var cardOneImage = Model?.Value<IPublishedContent>("cardOneImage")?.Url() ?? "";
    var cardTwoImage = Model?.Value<IPublishedContent>("cardTwoImage")?.Url() ?? "";
    var cardThreeImage = Model?.Value<IPublishedContent>("cardThreeImage")?.Url() ?? "";
    var cardFourImage = Model?.Value<IPublishedContent>("cardFourImage")?.Url() ?? "";
    var contactMainImage = Model?.Value<IPublishedContent>("contactMainImage")?.Url() ?? "";
    var contactBackgroundOne = Model?.Value<IPublishedContent>("contactBackgroundImageOne")?.Url() ?? "";
    var contactBackgroundTwo = Model?.Value<IPublishedContent>("contactBackgroundImageTwo")?.Url() ?? "";
    
}

<section id="page-title">
    <div class="container">
        <div class="content">
            <h2>@Model?.Value("pageTitleHeadline")</h2>
            <ul class="breadcrumbs">
                <li class="breadcrumb-link"><a href="@Model?.Value("pageTitleBreadcrumbUrl")">@Model?.Value("pageTitleBreadcrumbText")</a></li>
                <li class="fa-solid fa-chevron-right"></li>
                <li class="breadcrumb-link"><a href="@Model?.Value("pageTitleBreadcrumbUrlTwo")">@Model?.Value("pageTitleBreadcrumbTextTwo")</a></li>
                <li class="fa-solid fa-chevron-right"></li>
                <li class="breadcrumb-link"><a href="#"></a>@Model?.Value("pageTitleBreadcrumbCurrentText")</li>
            </ul>
        </div>
    </div>
</section>

<section class="annual-report">
    <div class="container">

        <div class="report-content">
            <div class="calender">
                <i class="fa-regular fa-calendar-days"></i>
                <span>@Model?.Value("articleOneDate")</span>
            </div>

            <div class="content">
                <h6>@Model?.Value("articleOneTitle")</h6>
                <img src="@articleOneImage" alt="Group of people having meeting">
            </div>

            <div class="content">
                <h5>@Model?.Value("articleOneTitleTwo")</h5>
                <p class="bulleted">@Model?.Value("articleOneBulletedText")</p>
                <p class="bulleted">@Model?.Value("articleOneBulletedTextTwo")</p>
                <p class="bulleted">@Model?.Value("articleOneBulletedTextThree")</p>
            </div>

            <div class="flex content">
                <img src="@articleTwoImage" alt="Girl looking at a laptom">
                <div>
                    <h5>@Model?.Value("articleTwoSideTitle")</h5>
                    <p>@Model?.Value("articleTwoSideText")</p>
                </div>
            </div>

            <div class="content">
                <h5>@Model?.Value("articleTwoTitle")</h5>
                <p>@Model?.Value("articleTwoText")</p>
            </div>

            <img src="@articleThreeImage" alt="Two people looking at a laptop">

            <div class="content">
                <h5>@Model?.Value("articleThreeTitle")</h5>
                <p>@Model?.Value("articleThreeText")</p>
            </div>

            <div class="tag-container">
                <h6>@Model?.Value("tagsTitle")</h6>
                <a class="tag" href="">@Model?.Value("tagsTextOne")</a>
                <a class="tag" href="">@Model?.Value("tagsTextTwo")</a>
                <a class="tag" href="">@Model?.Value("tagsTextThree")</a>
            </div>
            
        </div>


        <div class="aside-content">

            <div class="recent-projects">

                <h4>@Model?.Value("asideProjectTitle")</h4>

                <div class="project">
                    <img src="@cardOneImage" alt="">
                    <div>
                        <h6>@Model?.Value("cardOneTitle")</h6>
                        <div class="calender">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>@Model?.Value("cardOneDate")</span>
                        </div>
                    </div>
                </div>

                <div class="project">
                    <img src="@cardTwoImage" alt="">
                    <div>
                        <h6>@Model?.Value("cardTwoTitle")</h6>
                        <div class="calender">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>@Model?.Value("cardTwoDate")</span>
                        </div>
                    </div>
                </div>

                <div class="project">
                    <img src="@cardThreeImage" alt="">
                    <div>
                        <h6>@Model?.Value("cardThreeTitle")</h6>
                        <div class="calender">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>@Model?.Value("cardThreeDate")</span>
                        </div>
                    </div>
                </div>

                <div class="project">
                    <img src="@cardFourImage" alt="">
                    <div>
                        <h6>@Model?.Value("cardFourTitle")</h6>
                        <div class="calender">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>@Model?.Value("cardFourDate")</span>
                        </div>
                    </div>
                </div>

                <div class="tags">
                    <h4>@Model?.Value("asideTagsTitle")</h4>
                    <div class="tag-container">
                        <a class="tag" href="#">@Model?.Value("asideTagsTagOne")</a>
                        <a class="tag" href="#">@Model?.Value("asideTagsTagTwo")</a>
                        <a class="tag" href="#">@Model?.Value("asideTagsTagThree")</a>
                        <a class="tag" href="#">@Model?.Value("asideTagsTagFour")</a>
                        <a class="tag" href="#">@Model?.Value("asideTagsTagFive")</a>
                        <a class="tag" href="#">@Model?.Value("asideTagsTagSix")</a>
                        <a class="tag" href="#">@Model?.Value("asideTagsTagSeven")</a>
                        <a class="tag" href="#">@Model?.Value("asideTagsTagEight")</a>
                    </div>

                    <div class="infobox">
                        <h4>@Model?.Value("asideContactTitle")</h4>
                        <p>@Model?.Value("asideContactText")</p>
                        <form action="">
                            <label for="email"></label>
                            <div class="input-container">
                                <input type="E-mail-address"  placeholder="E-mail adress">
                                <i class="fa-regular fa-envelope"></i>
                            </div>
                        </form>
                        <img class="mailsvg" src="@asideBackgroundImage" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-info">
    <div class="container">
        <div class="parent">
            <img class="child-1" src="@contactMainImage" alt="">
            <img class="child-2" src="@contactBackgroundOne" alt="">
            <img class="child-3" src="@contactBackgroundTwo" alt="">
        </div>
        <div class="content">
            <h2>@Model?.Value("contactHeadline")</h2>
            <div class="content-box">
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>@Model?.Value("contactBoxOneTitle")</p>
                </div>
                <p>@Model?.Value("contactBoxOneText")</p>
            </div>
            <div class="content-box">
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <p>@Model?.Value("contactBoxTwoTitle")</p>
                </div>
                <p>@Model?.Value("contactBoxTwoText")</p>
            </div>
            <div class="content-box">
                <div>
                    <i class="fa-regular fa-envelope"></i>
                    <p>@Model?.Value("contactBoxThreeTitle")</p>
                </div>
                <p>@Model?.Value("contactBoxThreeText")</p>
            </div>
        </div>
    </div>
</section>
